.account-settings-header {
  font-size: 20px;
  text-align: center;
  position: relative;
  top: 20px;
}

.account-settings .form-group {
  margin-top: 15px;
  width: 350px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.account-settings form {
  font-size: 15px;
}

.account-settings label {
  display: inline-table;
}


.account-settings input {
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.account-settings button {
  margin-top: 20px;
}

.account-settings .account-error {
  margin-top: 20px;
  color: #F3967F;
  font-size: 15px;
  font-weight: 300;
}
