.icon-button {
  display: inline;
}

/* button text next to icon */
.icon-button span.icon-button-text {
  font-weight: 600;
  font-size: 15px;
  position: relative;
  top: -10px;
  left: 5px;
}

.icon-button:hover {
  opacity: 0.66;
  cursor: pointer;
}

.icon-button .icon {
  display: inline-block;
  background-repeat:no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
}

.icon.feedback {
  background-image:url(../assets/feedback.png);
}

.icon.update {
  background-image:url(../assets/update.png);
}
