.user-invite .add-user span {
  float: none;
}

.add-user {
  margin-left: 20px;
}

.add-user h2 {
  margin-left: 60px;
}

.add-user .email-input {
  display: inline;
  position: relative;
  top: -15px;
  margin-left: 30px;
  margin-top: -11px;
  border-bottom: 2px solid #e6e6e6;
}

.add-user .user-plus {
  margin-top: 10px;
  margin-left: -10px;
  display: inline-flex;
  width:  40px;
  height: 40px;
  background-image: url(../assets/add_button.png);
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.add-user .user-plus:hover {
  width:  40px;
  height: 40px;
  background-image: url(../assets/add_button_hover.png);
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.member-list {
  margin-top: 5%;
}

.member-list th {
  padding: 10px;
}

.member-list td {
  padding: 10px;
}

.member-list .name {
  width: 50%;
}

.member-list .other {
  width: 30%;
}

.member-list .email {
  display: block;
}

.vault-member-icon {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
