.settings-bar {
  width: 40%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 15px;
  border-left-style: solid;
  border-left-color: #e6e6e6;
  border-left-width: 2px;
}

.settings-bar h2 {
  font-size: 18px;
  font-weight: 400;
}

.settings-bar .header {
  height: 64px;
  position: relative;
  background-color: #b6c3e6;
  margin-bottom: 10px;
  background-repeat:no-repeat;
  background-position: 30px 0px;
  background-size: 150px;
  width: 100%;
}

.settings-bar .content {
  margin-top: 25px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


.user-invite .add-user span {
  float: none;
}

.add-user {
  margin-left: 20px;
}

.add-user h2 {
  margin-left: 60px;
}

.add-user .email-input {
  display: inline;
  position: relative;
  top: -15px;
  margin-left: 30px;
  margin-top: -11px;
  border-bottom: 2px solid #e6e6e6;
}

.add-user .user-plus {
  margin-top: 10px;
  margin-left: -10px;
  display: inline-flex;
  width:  40px;
  height: 40px;
  background-image: url(../assets/add_button.png);
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.add-user .user-plus:hover {
  width:  40px;
  height: 40px;
  background-image: url(../assets/add_button_hover.png);
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.member-list {
  margin-top: 5%;
}

.member-list table {
  left: 40px;
}

.member-list th {
  padding: 10px;
}

.member-list td {
  padding: 10px;
}

.member-list .email {
  display: block;
}

.vault-member-icon {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
