.sidebar-toggle {
  position: absolute;
  left: 0%;
  top: 45%;
}

.sidebar-toggle:hover {
  opacity: 0.5;
}

.toggle-right img {
  position: relative;
  right: 0px;
  width: 30px;
}

.toggle-left img {
  width: 30px;
  position: relative;
  right: 30px;
  -webkit-transform: rotate(-180deg);
}
