.sidebar-toggle {
  position: absolute;
  left: 0%;
  top: 45%;
}

.toggle-right img {
  position: relative;
  right: 0px;
  width: 50px;
}

.toggle-left img {
  width: 50px;
  position: relative;
  right: 50px;
  -webkit-transform: rotate(-180deg);
}
