.sidebar {
  width: 30%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 15px;
  border-left-style: solid;
  border-left-color: #f8b194;
  border-left-width: 2px;
  transition: all 0.5s;
  background: linear-gradient(0deg, #7a8390, #d4a49a);
}

.sidebar > .body {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 100px;
}

.collapsed {
  width: 0%;
  right: 1px;
  position: fixed;
  transition: all 0.5s;
}

.sidebar h2 {
  font-size: 18px;
  font-weight: 400;
}

.sidebar .header {
  height: 64px;
  position: relative;
  background-color: #a07f78;
  margin-bottom: 10px;
  background-repeat:no-repeat;
  background-position: 30px 0px;
  background-size: 150px;
  width: 100%;
}

.sidebar .content {
  margin-top: 10px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s;
}
