.vaulticon {
    height: 60px;
    width: 60px;
    margin-bottom: 10px;
    background-image:url(../assets/vault.png);
    background-repeat:no-repeat;
    background-position: 0px 0px;
    background-size: 60px;
    margin-right: 20px;
}

.card {
   display: inline-block;
   border: 1px solid #e6e6e6;
   border-radius: 8px;
   height: 190px;
   width: 240px;
   overflow: hidden;
   margin-left:20px;
   margin-top: 10px;
   padding: 10px;
   position: relative;
}

.vault-card-selected {
  display: inline-block;
  font-size: 1000px;
  background: linear-gradient(0deg, #667381, #F3967F);
}

.vault-card:hover {
  background: linear-gradient(0deg, #667381, #F3967F);
  opacity: 0.7;
}

.new-vault-card {
  background-color: white;
  cursor: pointer;
}

.vault-plus {
  width: 70px;
  height:70px;
  background-image:url(../assets/add_button.png);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  margin-left: 70px;
  margin-top: 50px;
  padding: 0px;
}
.vault-plus:hover {
  width: 70px;
  height:70px;
  background-image:url(../assets/add_button_hover.png);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  margin-left: 70px;
  margin-right: 50px;
  margin-top: 50px;
  padding: 0px;
}

.vault-icon {
  height: 100px;
  width: 100px;
  margin-left: 60px;
  margin-right: 70px;
  margin-top: 10px;
  background-color: #f9b194;
  padding: 0px;
  border-radius: 50px;
}

.vault-title {
  font-weight: 300;
  font-size: 13px;
  color: #e6e6e6;
  text-align: center;
  width: 100%;
  margin-top: 11px;
  margin-left: 10px;
  margin-right: 10px;

}


.vault-users {
  background-image:url(../assets/avatar.png);
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 35px;
  font-weight: 300;
  font-size: 15px;
  color: #b3b3b3;
  width: 80px;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

.vault-activity {
  background-image:url(../assets/vault.png);
  background-size: 18px;
  background-repeat: no-repeat;
  font-weight: 300;
  font-size: 15px;
  color: #b3b3b3;
  padding-left: 25px;
  width: 80px;
  position: absolute;
  bottom: 5px;
  right: -5px;


}
