.vaulticon {
    height: 60px;
    width: 60px;
    margin-bottom: 10px;
    background-image:url(../assets/vault.png);
    background-repeat:no-repeat;
    background-position: 0px 0px;
    background-size: 60px;
    margin-right: 20px;
}

.vaultinfo {
}

.card {
   border: 1px solid #e6e6e6;
   border-radius: 8px;
   height: 230px;
   width: 280px;
   overflow: hidden;
   margin: 10px;
   padding: 10px;
}

.vault-card {
    /* flexbox setup */
    /*display: -webkit-flex;
    -webkit-flex-direction: row;
    flex-direction: row; */
    display: inline-block;
}

.new-vault-card {
    background-color: white;
    cursor: pointer;
    background-image:url(../assets/add_button.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;


}
