.vault-settings-header {
  overflow: hidden;
  white-space: nowrap;
  height: 50px;
}

.vault-settings-header button {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  top: 15px;
}

.vault-settings-header .vault-name {
  position: relative;
  top: 18px;
  left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.vault-settings-header .vault-name-edit {
  position: relative;
  top: -20px;
  left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.vault-id {
  position: relative;
  top: 8px;
  left: 10px;
  font-weight: 600;
  font-size: 12px;
  font-family: monospace;
}

.user-invite .add-user span {
  float: none;
}

.add-user {
  margin-left: 20px;
}

.add-user h2 {
  margin-left: 60px;
}

.add-user .email-input {
  width: 70%;
  display: inline;
  position: relative;
  top: -15px;
  margin-left: 30px;
  margin-top: -11px;
  border-bottom: 2px solid #e6e6e6;
  font-size: 18px;
}

.add-user .user-plus {
  margin-top: 10px;
  margin-left: -10px;
  display: inline-flex;
  width:  40px;
  height: 40px;
  background-image: url(../assets/add.png);
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.add-user .user-plus:hover {
  width:  40px;
  height: 40px;
  background-image: url(../assets/add.png);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.member-list {
  margin-top: 5%;
}

.member-list th {
  padding: 10px;
}

.member-list td {
  padding: 10px;
}

.member-list .name {
  width: 70%;
}

.member-list .name .join_date {
  font-size: small;
  color: #bbbbbb;
}

.member-list .other {
  width: 10%;
}

.member-list .email {
  display: block;
}

.vault-member-icon {
  height: 50px;
  width: 50px;
}


.vault-settings-bar ul {
  padding-left: 0px;
}
