.welcome-sidebar h1 {
  font-size: 22px;
}

.welcome-sidebar h2 {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 15px;
}

.welcome-sidebar p {
  font-size: 16px;
}

.welcome-sidebar ul {
  padding-left: 0px;
}
