.main-screen-header {
  height: 64px;
  position: relative;
  background-color: #b6c3e6;
  margin-bottom: 10px;
  background-image:url(../assets/header.png);
  background-repeat:no-repeat;
  background-position: 30px 0px;
  background-size: 150px;
  width: 100%;
}

.main-screen-header h2 {
  font-size: 3rem;
}

.main-screen-header a {
  font-size: 1.4rem;
}

.main-screen-stats {
  position: absolute;
  right: 20px;
  top: 20px;
}
