.container {
  height: 64px;
  position: relative;
  background-color: #BEC2CD;
  margin-bottom: 10px;
  background-image:url(../assets/header.png);
  background-repeat:no-repeat;
  background-position: 30px 0px;
  background-size: 150px;
  width: 100%;
}

.container h2 {
  font-size: 3rem;
}

.container a {
  font-size: 1.4rem;
}

.stats {
  position: absolute;
  right: 20px;
  top: 20px;
}

.card {
    border: 1px solid #BEC2CD;
    border-radius: 10px;
    height: 160px;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    width: 200px;
}
