.connecting-screen {
  /*background: linear-gradient(0deg, #3B6491, #F3967F);*/
  height: 100%;
}

#granim-canvas {
  height: 100%;
}

.connecting-screen .banner {
  position: absolute;
  top: 40%;
  padding-top: 70px;
  text-align: center;
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
  background-image:url(../assets/spinner.gif);
  background-repeat:no-repeat;
  background-position: 50% 0px;
  background-size: 60px;
}
