.main-screen {
  width: 70%;
  -webkit-transition: width 0.5s;
}

.main-screen.expanded {
  width: 100%;
  -webkit-transition: width 0.5s;
}

.main-screen > .container {
  width: 70%;
  height: 100%;
  position: absolute;
  top: 64px;
  bottom: 26px;
  overflow-y: auto;
  -webkit-transition: width 0.5s;
  background: linear-gradient(0deg, #404f60, #c17d6f);
}

.main-screen.expanded > .container {
  width: 100%;
  -webkit-transition: width 0.5s;
}


.main-screen-header {
  height: 64px;
  position: relative;
  background-color: #a07f78;
  margin-bottom: 10px;
  background-image:url(../assets/logo.png);
  background-repeat:no-repeat;
  background-position: 20px 2px;
  background-size: 170px;
  width: 100%;
}

.main-screen-header h2 {
  font-size: 3rem;
}

.main-screen-header a {
  font-size: 1.4rem;
}

.main-screen-stats {
  position: absolute;
  right: 15px;
  top: 15px;
}

.main-screen-buttons {
  position: absolute;
  right: 10px;
  top: 17px;
  display: flex;
}

.main-screen-footer {
  position: fixed;
  font-size: 14px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 26px;
  background-color: #4d4d4d;
  color: #fff;
  padding: 5px;
}
